{% extends 'layout.twig' %}
{% import 'form.twig' as form %}

{% block content %}

    <form action="{{ path_for('project', {'project': project}) }}" method="POST" class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    {{ form.checkbox('Epics', 'rc[epics]', '1', rc.epics) }}
                    {{ form.checkbox('Sprints', 'rc[sprints]', '1', rc.sprints) }}
                    {{ form.checkbox('Issues', 'rc[issues]', '1', rc.issues) }}
                    {{ form.checkbox('Worker', 'rc[userlogs]', '1', rc.userlogs) }}
                    {{ form.checkbox('Worklogs', 'rc[worklogs]', '1', rc.worklogs) }}
                </div>

                <div class="column">
                    {{ form.input('Start', 'rc[start]', rc.start, 'date') }}
                    {{ form.input('End', 'rc[end]', rc.end, 'date') }}
                </div>
            </div>
            <input type="submit" class="button is-primary">
        </div>


    </form>

    {% if error %}
        <div>{{ error }}</div>
    {% endif %}

    {% if result %}
        <div class="card">
            <div class="card-content">
                <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        {% for key in result[0]|keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    {% for row in result %}
                        <tr>
                            {% for key,val in row %}
                                <td>{{ val }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <form action="{{ path_for('project', {'project': project}) }}" method="POST" class="card-content">
            <h2 class="subtitle">Customize SQL</h2>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="sql">{{ sql }}</textarea>
                </div>
            </div>
            <input type="submit" class="button is-primary">
        </form>
    </div>
{% endblock %}
